<% content_for :content do %>

<% if @sport_categorie.errors.any? %>
    <div class="alert alert-danger">
        <ul>
            <% @sport_categorie.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
        </ul>
    </div>
<% end %>


<div class="card">
    <div class="card-header">Ajouter une catégorie de sport</div>
        <div class=" card-body">

            <%= form_for @sport_categorie, class: 'form-horizontal' do |f| %>

                <div class="form-group">
                    <%= f.label :name, "Nom de la catégorie", class: 'col-md-4 control-label'%>
                    <div class="col-md-6">
                        <%= f.text_field :name, class: 'form-control' %>
                    </div>
                </div>

                <div class="form-group">
                    <%= f.label :slug, "slug", class: 'col-md-4 control-label'%>
                    <div class="col-md-6">
                        <%= f.text_field :slug, class: 'form-control' %>
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-md-6 col-md-offset-4">
                        <button type="submit" class="btn btn-primary">Valider</button>
                    </div>
                </div>
            <% end %>
        </div>
    
</div>
<p class="d-flex p-2">
<a href="<%= sport_categories_path %>" class="btn btn-primary"> Retour </a>
</p>
 <% end %>
 <%= render template: 'layouts/profile' %>