<% content_for :content do %>


    <h3><%= @sport.name %><h3>
    <div>
    <% if @sport.user.followedBy?(current_user)%>

     <%= link_to "Se désabonner", [@sport.user, Follow], data: {method: :delete}, class: "btn btn-warning" %>
    <% else %>
   
     <%= link_to "S'abonner", [@sport.user, Follow], method: :post, class:"btn btn-success"%>
    <% end %>
    </div>
     <% @sport.posts.each do |post| %>
        <div class="card mb-4">

            <h5 class="card-header "><%= post.name %></h5>

            <div class="card-body x-2 y-2">
            <%= image_tag post.photo_url(:thumb) %>
            <br>
            <%= post.content %>.

        <div class="d-flex justify-content-center p-2">
            <%= link_to 'Voir', post, class: 'btn btn-primary md-2'%>
            <% if canEdit(post) %>
                <%= link_to 'Modifier', [:edit, post], class: 'btn btn-primary ml-2 md-2'%>
                <%= link_to 'Supprimer', post, class: 'btn btn-danger ml-2', data: {method: :delete, confirm: 'Voulez vous vraiment supprimer ce post'} %>
            <% end %>
        </div>
    </div>
    </div>
    <% end %>

<% end %>
<%= render template: 'layouts/profile' %>