<% content_for :content do %>



<div class="card">
  
  <% if @user.photo %>
    <img src="<%= @user.photo_url%>" class="card-img-top" alt="...">
    
  <% end %>
  <div class="card-body">
    <h4 class="card-title"><%= @user.username %></h4>
    <p class="card-text"><%= @user.description %></p>
    <p class="d-flex justify-content-center p-1">

      <div class="col-md-1 p-1">
      <%= link_to "Voir", [@user, Follow], method: :get, class: "btn btn-success" %>
      </div>
      <% if @user.id != current_user.id %>
        <% if @user.followedBy?(current_user)%>
          <%= link_to "Se désabonner", [@user, Follow], data: {method: :delete}, class: "btn btn-warning" %>
        <% else %>
          <%= link_to "S'abonner", [@user, Follow], method: :post, class:"btn btn-success"%>
        <% end %>
      <%end %>
    </p>

  </div>
</div>

<% end %>
 <%= render template: 'layouts/profile' %>

