<% content_for :content do %>
<h3>Gestion des utilisateurs</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>username</th>
            <th>nom</th>
            <th>prenom</th>
            <th>action</th>
        </tr>
    </thead>
    <tbody>
        <% @users.each do |user| %>
            <tr>
                <td><%= user.username %></td>

                <td><%= user.lastname %></td>
                <td><%= user.firstname %>
                <td>
                <%= link_to "Supprimer", [:admin, user], class: "btn btn-danger", data: {method: :delete, confirm: "Voulez vous vraiment supprimer cet utilisateur?"} %></td>
            </tr>
            
        
        <% end %>
    </tbody>
</table>


<% end %>
<%= render template: 'layouts/profile'%>